<div *ngIf="isMerchant"> 
    <label for="file" class="sr-only">Batch File</label>
	<input type="file" name=file ng2FileSelect [uploader]="uploader" />
	
	<button type="button" class="btn btn-success btn-s" 
	  (click)="uploader.uploadAll()" 
	  [disabled]="!uploader.getNotUploadedItems().length" >
	      Upload 
	</button>
</div>
<h2>Batches</h2>
<div class="row">
		<div class="col-sm-2">Merchant</div>
        <div class="col-sm-2">Currency</div>
        <div class="col-sm-2">No. Of Valid Transaction</div>
        <div class="col-sm-2">Sum Of Valid Transaction</div>
        <div class="col-sm-2">No. Of  Invalid Transaction</div>
        <div class="col-sm-2">Sum Of Invalid Transaction</div>
 </div>
<div class="row" *ngFor="let batch of batches">
        <div class="col-sm-2">{{batch.merchant}}</div>
        <div class="col-sm-2">{{batch.currency}}</div>
        <div class="col-sm-2">{{batch.nubmerOfValidTransaction}}</div>
        <div class="col-sm-2">{{batch.sumOfValidTransaction}}</div>
        <div class="col-sm-2">{{batch.nubmerOfInvalidTransaction}}</div>
        <div class="col-sm-2">{{batch.sumOfInvalidTransaction}}</div>
</div>